@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SK.Solution</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="/category" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Categories
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="/product" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Products
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="cart" Match="NavLinkMatch.All">
                <span class="bi bi-cart3" aria-hidden="true"></span> Cart
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="/order/list" Match="NavLinkMatch.All">
                <span class="bi bi-card-list-fill-nav-menu" aria-hidden="true"></span> Orders
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="/note/list" Match="NavLinkMatch.All">
                <span class="bi bi-card-list-fill-nav-menu" aria-hidden="true"></span> Notes
            </NavLink>
        </div>

       @*  <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div> *@

      
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

