<style>
	.bg-section {
		background-image: url('/images/bg-pages.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 200; /* full screen height */
	}
</style>
<section class="py-5 bg-section">
	<div class="container">
		<div class="row gx-4 align-items-center justify-content-between">
			<div class="col-md-5 order-2 order-md-1">
				<div class="mt-5 mt-md-0">
					<span class="text-muted">Our Story</span>
					
					<h4 class="display-5 fw-bold">L.T.H - Laboratoires Tétra Hygiène</h4>
					<p class="lead">Leader dans le domaine des insecticides en hygiène publique en Tunisie, est une société anonyme au capital de 440 000 TND.</p>
					<p class="lead">Notre mission est la formulation, la commercialisation et le développement de produits phytosanitaires à usage en hygiène publique.</p>
					<p class="lead">100% tunisienne, la fabrication de nos produits respecte les normes les plus strictes de sécurité et se conforme à la législation tunisienne, tout en répondant aux exigences internationales (FAO, OMS, CIPAC…). Chaque étape de la production est soumise à un contrôle rigoureux pour garantir la qualité et la sécurité des produits.</p>
				</div>
			</div>
			<div class="col-md-6 offset-md-1 order-1 order-md-2">
				<div class="row gx-2 gx-lg-3">
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3" src="/images/nos-valeurs-lth.png"></div>
					</div>
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3" src="/images/notre-mission-lth.png"></div>
					</div>
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3" src="/images/notre-vision-lth.png"></div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>


@code {

}
