

    <footer class="text-white text-center text-lg-start bg-dark ">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row mt-4">
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">About company</h5>

                    <p>
                    Leader tunisien des insecticides en hygiène publique, nous développons des produits conformes aux normes nationales et internationales (FAO, OMS, CIPAC).
                    </p>

                   

                    <div class="mt-4">
                        <!-- Facebook -->
                    <a type="button" class="btn btn-floating btn-light btn-lg" href="https://www.facebook.com/Laboratoirestetrahygiene"><i class="fab fa-facebook-f"></i></a>
                        <!-- tiktok -->
                    <a type="button" class="btn btn-floating btn-light btn-lg" href="https://www.tiktok.com/%40laboratoire.tetra?_t=ZM-8tWjRC0S68T&amp;_r=1"><i class="fab fa-tiktok"></i></a>
                       
                    </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    

                    <ul class="fa-ul" style="margin-left: 1.65em;">
                        <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Zone industrielle Jebel El Oust Bir Mcherga 1111 Zaghouan, Tunisie</span>
                        </li>
                        <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">contact@lth-tn.com</span>
                        </li>
                        <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 216 72 640 532</span>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Opening hours</h5>

                <table class="table text-center">
                    <tbody class="fw-normal">
                        <tr>
                            <td class="text-white bg-dark">Mon - Thu:</td>
                            <td class="text-white bg-dark">8am - 9pm</td>
                            </tr>
                            <tr>
                            <td class="text-white bg-dark">Fri - Sat:</td>
                            <td class="text-white bg-dark">8am - 1am</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2025 Copyright:
            <a class="text-white" href="https://www.sksolution.dev/">SK Solution</a>
        </div>
        <!-- Copyright -->
    </footer>



@code {

}
