@page "/not-found"
<PageTitle>Not Found</PageTitle>
<style>
    .background-radial-gradient {
        background-color: hsl(218, 41%, 15%);
        background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
    }

    .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
    }

    .full-height {
        height: 100vh;
    }
</style>
<section class="background-radial-gradient overflow-hidden">
    <div class="container d-flex justify-content-center align-items-center full-height px-4 py-5 px-md-5 text-center text-lg-start">
        <div class="card bg-white shadow-lg">
            <div class="card-body px-4 py-5 px-md-5">
                <h3 class="text-danger">404 - Page Not Found</h3>
                <p>Sorry, the page you're looking for doesn't exist.</p>
            </div>
        </div>
    </div>
</section>