body {
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

span.nav-link {
    color: #212529 !important;
}

.nav-link:focus, .nav-link:hover {
    color: #212529;
}

span.nav-link.active {
    border-bottom: 3px solid #198754;
    color: #198754 !important;
}

