@page "/schedule"
@rendermode InteractiveServer
@using SK.Solution.Shared.Extensions
@using SK.Visit.Application.Dtos
@using SK.Visit.UI.Blazor.Model
@inject IJSRuntime JS
@attribute [Authorize(Roles = "Admin,Manager")]




<div class="container-fluid full-height">
    <div class="row h-100">
        <!-- Left (20%) -->
        <div class="col-2 d-flex align-items-center justify-content-center p-2" >
                <VisitList></VisitList>
        </div>

        <!-- Right (80%) -->
        <div class="col-10 d-flex flex-column">
            <div class="right-half p-2">
                <div class="card shadow rounded card-inner">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <GoogleMap></GoogleMap>
                    </div>
                </div>
            </div>
            <div class="right-half p-2">
                <div class="card shadow rounded card-inner" style="background: #f5f7ff; border-radius: 12px;">
                        <VisitSchedule></VisitSchedule>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<MarkDto> Marks = new List<MarkDto>
    {
       // new LatLng(50.464095373854,4.8647300719352256), // Customer 1
        new MarkDto(34.7406, 10.7603,"sfax","1"), // Customer 2
        new MarkDto(35.8256, 10.6084,"Sousse","3"), // Customer 3
        new MarkDto(37.2744,9.8739,"Bizerte","2"), // Customer 3
        new MarkDto(33.8818,10.0982,"Gabès","4"), // Customer 3
        new MarkDto(35.6781,10.0963,"Kairouan","5"), // Customer 3
    };

    private List<MarkDto> Marks2 = new List<MarkDto>
    {
       // new LatLng(50.464095373854,4.8647300719352256), // Customer 1
        new MarkDto(34.7406, 10.7603,"sfax","1"), // Customer 2
        new MarkDto(35.8256, 10.6084,"Sousse","3"), // Customer 3
         new MarkDto(37.2744,9.9739,"Bizerte","2"), // Customer 3

    };

    // Method to set customer locations on the map
    public async Task SetMarks()
    {
        await JS.GoogleMap_AddMarkers(Marks);
    }
    public async Task SetMarks2()
    {
        await JS.GoogleMap_AddMarkers(Marks2);
    }

    public async Task ClearMarks()
    {
        
        await JS.GoogleMap_ClearMarkers();
    }

    public async Task ClearPolylines()
    {
        
        await JS.GoogleMap_ClearPolylines();
        
    }

    private async Task DrawSampleRoute()
    {
        var referenceLat = 36.8065;
        var referenceLng = 10.1815;

        var sortedByDistance = Marks.OrderBy(a =>
            GetDistanceInKm(referenceLat, referenceLng, a.Lat, a.Lng)).ToList();
       
        await JS.GoogleMap_DrawPolylines(sortedByDistance);
    }

    public static double GetDistanceInKm(double lat1, double lon1, double lat2, double lon2)
    {
        const double R = 6371; // Radius of the Earth in km
        double dLat = (lat2 - lat1) * Math.PI / 180;
        double dLon = (lon2 - lon1) * Math.PI / 180;

        double a = Math.Sin(dLat / 2) * Math.Sin(dLat / 2) +
                   Math.Cos(lat1 * Math.PI / 180) * Math.Cos(lat2 * Math.PI / 180) *
                   Math.Sin(dLon / 2) * Math.Sin(dLon / 2);
        double c = 2 * Math.Atan2(Math.Sqrt(a), Math.Sqrt(1 - a));

        return R * c; // Distance in km
    }

}
